*.mp4

*.mkv
textbooks/
# notes/

.ipynb_checkpoints
.metals/
.bsp/
.scala-build/
.DS_Store/
.venv

.Rproj.user
.RData
.Rhistory

# Remove these once i fix the repo
06-data science/topics
06-data science/assignments/ass1/*.ipynb
06-data science/assignments/ass2/*.ipynb
06-data science/assignments/ass3/*.ipynb
07-oop in java/lectures


# Remove these as i sort out the old subjects ive done.
16-s*
19-p*
25-s*
26-d*

*Two.ui.main.js
*Two.ui.main.js.map
*ueens.js.map
*ueens.js

turing/
