*.mp4

*.mkv
textbooks/
notes/

.ipynb_checkpoints
.metals/
.bsp/
.scala-build/
.DS_Store/
.venv

.Rproj.user
.RData
.Rhistory
# Remove these once i fix the repo
06-data science/topics
07-oop in java/lectures


# Remove these as i sort out the old subjects ive done.
16-s*
19-p*
25-s*
26-d*

*Two.ui.main.js
*ass2/2025-assignment2-main*.map
